dash==3.2.0
dash-bootstrap-components
Flask
Jinja2
Werkzeug
itsdangerous
click
plotly
pandas
numpy
scipy       
scikit-learn
joblib     
python-dateutil
pytz
tzdata
requests
typing_extensions
retrying  
networkx   
blinker
