blinker
certifi
charset-normalizer
click
dash==3.2.0
dash-bootstrap-components
Flask
geopandas
idna
importlib_metadata
itsdangerous
Jinja2
joblib
MarkupSafe
narwhals
nest-asyncio
networkx
numpy
packaging
pandas
pathlib
plotly
pyogrio
pyproj
python-dateutil
pytz
requests
retrying
scikit-learn
scipy
setuptools
shapely
six
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug
zipp
gunicorn
